public/media
logs/
env
settings_personal.py
*~
*.pyc
*.pyo
.DS_Store
.nose
*.egg-info
*.bak
*.rej
*$py.class
*.orig
.coverage
nosetests.xml
xunit.xml
doc/.build
dist
build
.noseids
.tox
.*.sw[nop]
public/static/**
*.mo
*.tpl.js
bower_components
.idea/
temp/
*.pem
*.pub
demo_dbs/
