Django==1.6.5
bitstring==3.1.3
crypto==1.1.0
django-appconf==0.6
git+https://github.com/maxaon/django-bower.git@b96e882d148a765dd2c1c3903a74f5397830206a#egg=django_bower
django-evolution==0.6.9
django-guardian==1.2.0
-e git+https://github.com/maxaon/django-pipeline.git@f74c486b4783be31f789171ceb9653941c4432af#egg=django_pipeline
django-security==0.1.22b
djangorestframework==2.3.13
git+https://github.com/maxaon/djangular.git@3a34d9f47136ed0b7668404053621b2e242b9ca3#egg=djangular
futures==2.1.6
pycparser==2.10
pycrypto==2.6
pygpg==1.1
rsa==3.1.4
six==1.6.1
